doctype html 
html 
  head 
    title Prateek Dance Academy
    style
      include ../static/style.css
     
body
    nav#navbar
        ul
            div#logo
                img(src="/static/ap.jpg", alt="")
                | PDA
            
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact Us]
    section#introSection
        div Welcome to Prateek's Dance Academy
        div.small Eat Sleep Dance Repeat
    section#missionSection
        h1 Our Mission
        div.card
            h3 Dance Forms 
        div.card
            h3 Dance the Way you like
        div.card
            h3 Expert Teaching
             
    section#sponsorsSection
        h2 Our Sponsors
    footer#footer
        h3 Copyright 2021 PrateekDanceAcademy | All Rights Reserved
    script 
      include ../static/index.js    